<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
{% load static %}
<html class="wide wow-animation" lang="en">
  <head>
    <title>About Us</title>
    
    <style>.ie-panel{
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
      clear: both;
      text-align:center;
      position: relative;
      z-index: 1;
      } 
      html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
        display: block;
       }
        </style>
  </head>
  <body>
    <div class="ie-panel"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    
    
     
      <section class="parallax-container" data-parallax-img="https://livedemo00.template-help.com/wt_prod-23637/images/icon-lists-title-bg.jpg">
        <div class="parallax-content breadcrumbs-custom context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9">
                <h2 class="breadcrumbs-custom-title">About Us</h2>
                <ul class="breadcrumbs-custom-path">
                  <li><a href="/index/">Home</a></li>
                  <li><a href="#">Pages</a></li>
                  <li class="active">About Us</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-gray-100">
        <div class="container">
          <div class="row row-50">  
            <div class="col-lg-6 pr-xl-5"><img src="https://livedemo00.template-help.com/wt_prod-23637/images/about-us-1-518x430.jpg" alt="" width="518" height="430"/>
            </div>
            <div class="col-lg-6">
              <h2 class="heading-with-text-bg">About Wildlife<span class="block-background-text text-decorative-black-20 big">About Us</span></h2>
              <div class="text-with-divider">
                <div class="divider"></div>
                <h4>Our charity foundation protect wild cats and other endangered species</h4>
              </div>
              <p>The animals, staff and volunteers at The InsideWild Animal Sanctuary are grateful you want to learn more about us and the work we do to help solve India’s captive wildlife crisis.  Thank you!</p>
                <p>Please check the menus listed in this section to learn more about our major programs, our facilities totaling over 10,500 acres, the history and management of TWAS, our finances and ways to contact us.  Enjoy a virtual tour, learn more about our social networks and view photos and encouragement from celebrities and notables who endorse us.</p>
                <p>It is one of those places where some people grow in mind, heart, and soul and just plain find themselves. They find their family, their friends, their home and their future here. Many staff members were once volunteers who couldn’t quite bring themselves to leave. Many volunteers come back time after time to be together with the animals and people they fell in love with. We’d love to add you to that legacy.</p>
            
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="text-center">
            <h2 class="heading-with-text-bg">Why Choose Us<span class="block-background-text text-decorative-black-20 big">Advantages</span></h2>
          </div>
          <div class="row row-50">
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-triangle"><span class="icon-xl linearicons-shield text-gray-800"></span></div>
                <div class="box-icon-caption">
                  <h4><div>qualified Team</div></h4>
                  <p>The Sanctuary currently houses approximately 85 Tigers that were rescued from illegal or abusive situations.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-circle"><span class="icon-xl linearicons-paw text-gray-800"></span></div>
                <div class="box-icon-caption">
                  <h4><div>volunteer overview</div></h4>
                  <p>It is one of those places where some people grow in mind, heart, and soul and just plain find themselves.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-rectangle"><span class="icon-xl linearicons-recycle text-gray-800"></span></div>
                <div class="box-icon-caption">
                  <h4><div>Improving the habitat</div></h4>
                  <p>With the help of our dedicated volunteers and staff, the InsideWild works tirelessly to protect ancient cultures, habitats ,majestic landscapes and its incredible wildlife. To do this, we undertake projects in different sites around the country.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-rectangle"><span class="icon-xl linearicons-sun text-gray-800"></span></div>
                <div class="box-icon-caption">
                  <h4><div>Global Work</div></h4>
                  <p>The InsideWild is proud to announce its newest project, the Shiloh Wildlife Sanctuary. It aims  to assist and cares for rhinos or elephants that have been injured or orphaned in incidents of poaching.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-triangle"><span class="icon-xl linearicons-star text-gray-800"></span></div>
                <div class="box-icon-caption">
                  <h4><div>partnership</div></h4>
                  <p>You can always check out our partners and find out what we have been up to.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-circle"><span class="icon-xl linearicons-helicopter text-gray-800"></span></div>
                <div class="box-icon-caption">
                  <h4><div>Life-saving programs</div></h4>
                  <p>InsideWild provides a unique opportunity to make a positive impact on the local San Bushman children, whilst surrounded by Namibia’s beautiful landscapes and wildlife.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="parallax-container" data-parallax-img="https://livedemo00.template-help.com/wt_prod-23637/images/bg-image-2.jpg">
        <div class="parallax-content section-xl context-dark text-center overlay overlay-2">
          <div class="container">
            <div class="row row-50">
              <div class="col-sm-6 col-lg-3">
                <article class="counter-classic counter-text-stroke">
                  <div class="counter-classic-main">
                    <div class="counter">50</div>
                  </div>
                  <p class="counter-text-stroke-title">Saved species</p>
                </article>
              </div>
              <div class="col-sm-6 col-lg-3">
                <article class="counter-classic counter-text-stroke">
                  <div class="counter-classic-main">
                    <div class="counter">92</div>
                  </div>
                  <p class="counter-text-stroke-title">Team members</p>
                </article>
              </div>
              <div class="col-sm-6 col-lg-3">
                <article class="counter-classic counter-text-stroke">
                  <div class="counter-classic-main">
                    <div class="counter">340</div>
                  </div>
                  <p class="counter-text-stroke-title">Daily donations</p>
                </article>
              </div>
              <div class="col-sm-6 col-lg-3">
                <article class="counter-classic counter-text-stroke">
                  <div class="counter-classic-main">
                    <div class="counter">4</div>
                  </div>
                  <p class="counter-text-stroke-title">Partners</p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--<section class="section-lg bg-default text-center">
        <div class="container">
          <div class="wow-outer">
            <div class="wow slideInDown">
              <h2 class="heading-with-text-bg">Our Partners<span class="block-background-text text-decorative-black-20 big">Partners</span></h2>
            </div>
          </div>
          #<!-- Owl Carousel-->
          <!-- <div class="owl-carousel dots-offset-lg" data-items="1" data-sm-items="2" data-md-items="3" data-dots-each="2" data-lg-items="4" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="30" data-mouse-drag="false" data-autoplay="true"><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-1-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-2-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-3-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-4-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-1-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-2-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-3-270x121.png" alt="" width="270" height="121"/>
              </div></a><a class="box-sponsor box-sponsor-modern wow-outer" href="#">
              <div class="wow fadeInUp"><img src="images/logo-inverse-4-270x121.png" alt="" width="270" height="121"/>
              </div></a></div>
        </div>
      </section>  -->
    </div> 
</html>
{% endblock %}