<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

{% load static %}
<html class="wide wow-animation" lang="en">

<head>
    <title>Our Team</title>
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>
</head>

<body>
    <div class="ie-panel"><a href="https://windows.microsoft.com/en-US/internet-explorer/"></a><img
                src="https://images.unsplash.com/photo-1549737524-aef1a1f12ccd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" height="48" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>

        <section class="parallax-container" data-parallax-img="https://images.unsplash.com/photo-1445964047600-cdbdb873673d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1156&q=80">
            <div class="parallax-content breadcrumbs-custom context-dark">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-9">
                            <h2 class="breadcrumbs-custom-title">Our Team</h2>
                            <ul class="breadcrumbs-custom-path">
                                <li><a href="#">Home</a></li>
                                <li class="active">Our Team</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg bg-gray-1">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4">
                        <div class="team-classic">
                            <div class="team-classic-figure"><img src="https://images.unsplash.com/photo-1517125591588-3a29b2182219?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""
                                    width="290" height="380" />
                                <ul class="team-classic-soc-list">
                                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                                </ul>
                            </div>
                            <div class="team-classic-caption">
                                <h4><a class="team-name" href="#">Marie McMillan</a></h4>
                                <p>Founder &amp; CEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="team-classic">
                            <div class="team-classic-figure"><img src="https://images.unsplash.com/photo-1508568230916-c2692a5d7b1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" alt=""
                                    width="290" height="250" />
                                <ul class="team-classic-soc-list">
                                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                                </ul>
                            </div>
                            <div class="team-classic-caption">
                                <h4><a class="team-name" href="#">Kate Peterson</a></h4>
                                <p>Operations Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="team-classic">
                            <div class="team-classic-figure"><img src="https://images.unsplash.com/photo-1484190929067-65e7edd5a22f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt=""
                                    width="290" height="250" />
                                <ul class="team-classic-soc-list">
                                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                                </ul>
                            </div>
                            <div class="team-classic-caption">
                                <h4><a class="team-name" href="#">Timothy Williams</a></h4>
                                <p>Primary Vet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="team-classic">
                            <div class="team-classic-figure"><img src="https://images.unsplash.com/photo-1529511026851-6fe7f6c908a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80" alt=""
                                    width="290" height="250" />
                                <ul class="team-classic-soc-list">
                                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                                </ul>
                            </div>
                            <div class="team-classic-caption">
                                <h4><a class="team-name" href="#">Ronald King</a></h4>
                                <p>Research Director</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="team-classic">
                            <div class="team-classic-figure"><img src="https://images.unsplash.com/photo-1598681244895-1786022fe447?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""
                                    width="290" height="250" />
                                <ul class="team-classic-soc-list">
                                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                                </ul>
                            </div>
                            <div class="team-classic-caption">
                                <h4><a class="team-name" href="#">Samuel Wilson</a></h4>
                                <p>Head of Volunteer Committee</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="team-classic">
                            <div class="team-classic-figure"><img src="https://images.unsplash.com/photo-1493101561740-e745892775b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""
                                    width="290" height="250" />
                                <ul class="team-classic-soc-list">
                                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                                </ul>
                            </div>
                            <div class="team-classic-caption">
                                <h4><a class="team-name" href="#">Jane Clark</a></h4>
                                <p>program Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</body>
</html>
{% endblock %}