{% extends "base.html" %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ThankYOU</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="parentThank">
        <h3 class="thanku">Thank you {{str}}</h3>
        <div style="font-size: 2rem;">Please return to the home page :D</div>
        <a style="margin-top: 0;" href="{% url 'home' %}" class="button button-xsm button-white">Home</a>
    </div>
</body>
</html>

{% endblock %}